<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart({{ cart }})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <!-- image goes here -->
            <img v-bind:src="image" alt="Green Sock" />
          </div>
          <div class="product-info">
            <h1>{{ product }}</h1>
            <a v-bind:href="vueMastery" target="_blank">Link to Vue Mastery</a>
            <p v-if="inStock"><span>{{ inventory }} left - </span>In Stock</p>
            <p v-else="!inStock">
              <span>{{ inventory }} left - </span>Out of Stock
            </p>
            <p v-if="inventory > 10">
              <span>{{ inventory }} left - </span>In Stock
            </p>
            <p v-else-if="inventory <= 10 && inventory > 0">
              <span>{{ inventory }} left - </span>
              Almost sold out
            </p>
            <p v-else><span>{{ inventory }} left - </span>Out of Stock</p>
            <p class="details" v-for="detail in details">{{ detail }}</p>
            <p>
              <span
                class="variants"
                v-for="variant in variants"
                :key="variant.id"
                @mouseover="updateImage(variant.image)"
              >
                {{ variant.color }}
              </span>
            </p>
            <p>
              <span class="sizes" v-for="size in sizes" :key="id">
                {{ size.size }}
              </span>
            </p>
            <button class="button" v-on:click="addToCart">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
